.text-color-black{
    color: black;
}

.text-color-blue{
    color: blue;
}

.text-color-coral{
    color: coral;
}

.text-color-blueviolet{
    color: blueviolet;
}

.text-color-bolotniy{
    color: #8a6d3b;
}

.text-color-brown{
    color: #b4642f;
}

.text-color-griffindor{
    color: rgba(220, 91, 77, 0.9);
}

.text-color-raverclouw{
    color: rgba(126, 159, 220, 0.9);
}

.text-color-puffendue{
    color: rgba(225,105,46, 0.8);
}

.text-color-slizeren{
    color: rgba(24,156,23, 0.9);
}