/*Main-Page containers*/
#main-page{
    /*position: fixed;*/
    /*top: 0;*/
    /*margin: 0;*/
    /*padding: 0;*/
    min-width: 100vh;
    min-height: 100vh;
}

#test-tonya{
     min-width: 100vh;
     min-height: 100vh;
 }

#after-exam{
    min-width: 100vh;
    min-height: 100vh;
}

/*//////////////////////////////////////////////*/

/*News-Info containers*/
@media (min-width: 1000px) {
    .container-width-news-info {
        width: 1000px;
        overflow: auto;
        height: 1080px;
        max-height: 1080px;
    }
}

@media (min-width: 1200px) {
    .container-width-news-info {
        width: 1200px;
        overflow: auto;
        height: 1080px;
        max-height: 1080px;
    }
}

@media (min-width: 1350px) {
    .container-width-news-info {
        width: 1350px;
        overflow: auto;
        height: 1080px;
        max-height: 1080px;
    }
}

@media (min-width: 1500px) {
    .container-width-news-info {
        width: 1500px;
        margin-left: 20px;
        margin-right: 20px;
        overflow: auto;
        height: 1080px;
        max-height: 1080px;
    }
}

@media (min-width: 1700px) {
    .container-width-news-info {
        width: 1700px;
        overflow: auto;
        height: 1080px;
        max-height: 1080px;
    }
}

@media (min-width: 1900px) {
    .container-width-news-info {
        width: 1900px;
        overflow: auto;
        height: 1080px;
        max-height: 1080px;
    }
}

.news-info-container{
    margin: 10px 20px 0 20px;
    border: solid 3px black;
}

.image-adaptive{
    width: 100%;
    background-size: cover;
}


.title-news-info_1{
    margin: 0 20%;
}

.title-news-info_2{
    margin: 0 15%;
}

#news-info{
    min-width: 100vh;
    min-height: 100vh;
}
/*/////////////////////////////////////////////*/