.font-effect{
    font-weight: bolder;
    font-size: 90px;
    color: rgba(218,165,32,0.7);
    text-shadow: 4px 10px 8px rgba(190,0,0,0.4),
    0px -5px 35px rgba(218,100,2,0.3);
}

.font-margin-title{
    margin: 20px;
}

.font-margin-choice{
    margin-bottom: 30px;
}

.font-margin-button{
    margin: 20px;
}

.font-margin-button:hover{
    margin: 20px;
    color: rgba(12,12,2,0.7);
    text-shadow: 3px 7px 5px rgba(10,10,32,0.4), 3px -7px 5px rgba(10,10,32,0.3);
}

.table-border-result-exam{
    border: solid rgba(20,20,20, 0.8) 4px;
}

.table-border-result-exam-bottom{
    border-bottom: solid rgba(20,20,20, 0.8) 4px;

}

.table-border-result-exam-right{
    border-right: solid rgba(20,20,20, 0.8) 4px;
    border-bottom: solid rgba(20,20,20, 0.8) 4px;
}

.color-kogtevran-test{
    color: rgba(34,45,233, 0.9);
}

.color-griffindor-test{
    color: rgba(234,25,23, 0.9);
}

.color-puffendue-test{
    color: rgba(225,105,46, 0.9);
}

.color-slizeren-test{
    color: rgba(24,156,23, 0.9);
}

.color-button-text-test{
    color: rgba(0,0,0,0.8);
    font-weight: bold;
}

.color-button-text-test:hover{
    color: rgba(12,12,2,0.7);
    font-weight: bold;
    text-shadow: 3px 7px 5px rgba(10,10,32,0.4), 3px -7px 5px rgba(10,10,32,0.3);
}

.color-button-text-test:active{
    color: rgba(12,12,2,0.7);
    font-weight: bold;
    text-shadow: 3px 7px 5px rgba(10,10,32,0.4), 3px -7px 5px rgba(10,10,32,0.3);
}

.color-button-text-test:focus{
    color: rgba(12,12,2,0.7);
    font-weight: bold;
    text-shadow: 3px 7px 5px rgba(10,10,32,0.4), 3px -7px 5px rgba(10,10,32,0.3);
}