/*#bh-div{*/
    /*cursor: url("../image/1.cur"), auto;*/
/*}*/

/*#bh-div a:hover{*/
    /*cursor: url("../image/2.cur"), auto;*/
/*}*/

/*.bh-fon{*/
    /*/!*background: #31708f url("../image/map_maroder.jpg") no-repeat;*!/*/
    /*background-size: cover;*/
/*}*/

.main-page-fon{
    background: #31708f url("../image/Main-page-fon-2.png") no-repeat;
    background-size: cover;
    cursor: url("../image/1.cur"), auto;
}

.news-info-page{
    background: #31708f url("../image/seamless-textured-paper-background.jpg") repeat;
    cursor: url("../image/1.cur"), auto;
}

.love-story-fon{
    background: #31708f url("../image/love-story-2.jpeg") repeat;
    cursor: url("../image/1.cur"), auto;
}

.library-hp{
    background: #31708f url("../image/lib-hp-2.jpeg") repeat;
    cursor: url("../image/1.cur"), auto;
}

.fon-libHP-container{
    background: rgba(200,200,200,0.90);
}