.main-page-fon{
    background: #31708f url("../image/main_poster.jpg") no-repeat;
    background-size: cover;
    cursor: url("../image/1.cur"), auto;
    overflow-y: hidden;
}

.news-info-page{
    background: #31708f url("../image/seamless-textured-paper-background.jpg") repeat;
    cursor: url("../image/1.cur"), auto;
}

.love-story-fon{
    background: #31708f url("../image/fon_picture/love-story.jpg") no-repeat;
    cursor: url("../image/1.cur"), auto;
    background-size: cover;
}

.library-hp{
    background: #31708f url("../image/fon_picture/title_library_1.jpg") no-repeat;
    cursor: url("../image/1.cur"), auto;
    background-size: cover;
}

.fon-libHP-container{
    background: rgba(200,200,200,0.90);
}

.fon-tonya-test{
    background: #31708f url("../image/sov_1.png") no-repeat;
    background-size: cover;
    cursor: url("../image/1.cur"), auto;
}

.fon-test-result{
    background: #31708f url("../image/2ert453.png") repeat;
    cursor: url("../image/1.cur"), auto;
}

.fon-container-tonya-result{
    background: rgba(200,200,200,0.93);
    min-height: 1080px;
}

.fon-form-after-exam{
    background: #31708f url("../image/sov_2.png") no-repeat;
    background-size: cover;
    cursor: url("../image/1.cur"), auto;
}
