.left-float-position{
    float: left;
    margin: 10px;
}

.left-float-position-article-image-big{
    width: 70%;
    float: left;
    margin: 10px;
}


.left-float-position-article-image-middle{
    width: 45%;
    float: left;
    margin: 10px;
}

.left-float-position-article-image-small{
    width: 30%;
    float: left;
    margin: 10px;
}

.right-float-position{
    float: right;
    margin: 10px;
}

.right-float-position-article-image-big{
    width: 70%;
    float: right;
    margin: 10px;
}


.right-float-position-article-image-middle{
    width: 45%;
    float: right;
    margin: 10px;
}

.right-float-position-article-image-small{
    width: 30%;
    float: right;
    margin: 10px;
}