<!DOCTYPE html>
<section ng-controller="ExamSOVCtrl as ctrl" class="fon-form-after-exam" id="after-exam">
    <div id="shadow-window">
        <div class="container">
            <div class="font-harry-potter size-xx-large font-effect" ng-bind="'Узнай свой результат!'" align="center" ng-style="{'margin' : '100px 0 0 0'}"></div>
            <div align="center">
                <br><input class="font-harry-potter size-middle" type='text' ng-model='student.first_name' placeholder="Введите ваше имя"><br>
                <br><input class="font-harry-potter size-middle" type='text' ng-model='student.last_name' placeholder="Введите вашу фамилию"><br>
                <br><select class="font-harry-potter size-middle" ng-model="student.facultet">
                    <option selected disabled ng-bind="'---Ваш факультет---'"></option>
                    <option ng-value="'Гриффиндор'" ng-bind="'Гриффиндор'"></option>
                    <option ng-value="'Пуффендуй'" ng-bind="'Пуффендуй'"></option>
                    <option ng-value="'Когтевран'" ng-bind="'Когтевран'"></option>
                    <option ng-value="'Слизерин'" ng-bind="'Слизерин'"></option>
                </select><br>
                <div ng-model="student.result_test" ng-init="student.result_test=ctrl.GetResult()"></div>
                <div ng-if="undefined != student.first_name
                && undefined != student.last_name
                && undefined != student.facultet
                && '' != student.first_name
                && '' != student.last_name
                && '' != student.facultet">
                    <br><input class="btn btn-danger font-harry-potter size-middle margin-exam color-button-text-test" type='button' ng-click="ctrl.addStudent(student)" value='Узнать результат'>
                </div>
            </div>
        </div>
    </div>
</section>
