<!DOCTYPE html>
<section ng-controller="ExamSOVCtrl as ctrl">
    <div class="container">
        <h1>Узнай свой результат!</h1>
        <br><input type='text' ng-model='student.first_name' placeholder="Введите выше имя"><br>
        <br><input type='text' ng-model='student.last_name' placeholder="Введите вашу фамилию"><br>
        <br><select ng-model="student.facultet">
            <option selected disabled ng-bind="'---Ваш факультет---'"></option>
            <option ng-value="'Гриффиндор'" ng-bind="'Гриффиндор'"></option>
            <option ng-value="'Пуффендуй'" ng-bind="'Пуффендуй'"></option>
            <option ng-value="'Когтевран'" ng-bind="'Когтевран'"></option>
            <option ng-value="'Слизерин'" ng-bind="'Слизерин'"></option>
        </select><br>
        <div ng-model="student.result_test" ng-init="student.result_test=ctrl.GetResult()"></div>
        <br><input type='button' ng-click="ctrl.addStudent(student)" value='Закончить экзамен'>
    </div>
</section>
