<!DOCTYPE html>
<section ng-controller="LibraryCtrl as ctrl">
    <ul class="navigation font-harry-potter size-small-middle">
        <li class="nav-item">
            <a ng-click="ctrl.ToMain()" ng-bind="'Главная'"></a>
        </li>
        <li class="nav-item">
            <a ng-click="ctrl.ToNewsInfo()" ng-bind="'Биография Тонечки'"></a>
        </li>
        <li class="nav-item">
            <a ng-click="ctrl.ToLoveStory()" ng-bind="'Я и Тоня'"></a>
        </li>
        <li class="nav-item">
            <a ng-click="ctrl.ToExam()" ng-bind="'Магический экзамен'"></a>
        </li>
        <li class="nav-item">
            <a ng-click="ctrl.ToExamResult()" ng-bind="'Лучший факультет'"></a>
        </li>
        <li class="nav-item">
            <a ng-click="ctrl.ToHarryPotter()" ng-bind="'Библиотека'"></a>
        </li>
    </ul>

    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"></label>

    <div class="site-wrap">
        <div class="library-hp">
            <div class="container fon-libHP-container">
                <div>
                    <p align="center" class="size-xx-large font-harry-potter font-bold title-of-page" ng-bind="'Вселенная Гарри Поттера!'"></p>
                    <div class="row size-large font-normal">

                        <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 view-every-block">
                            <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 block-every-elem">
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
                                    <a class="float-left-with-poster" href="image/hpps.jpg" data-fancybox data-caption="Harry Potter and the philosopher`s stone">
                                        <img src="image/hpps.jpg" width="200"/>
                                    </a>
                                    <p class="font-harry-potter align-text-title size-xx-large color-title-of-history" ng-bind="'Гарри Поттер и филосовский камень'"></p>
                                </div>
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 font-harry-potter">
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-bold"
                                       ng-bind="'Читать книгу'"
                                       href="http://librebook.ru/harry_potter_and_the_sorcerer_s_stone">
                                    </a>
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-bold"
                                       ng-bind="'Посмотреть фильм на GidOnline'"
                                       href="http://gidonline.club/2011/07/garri-potter-i-filosofskij-kamen">
                                    </a>
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-bold"
                                            ng-click="ctrl.HPPS()" ng-bind="'Смотреть трейлер'">
                                    </a>
                                    <div ng-if="ctrl.HPPS_flag">
                                        <iframe width="1000" height="720"
                                                src="https://www.youtube.com/embed/kVMHzux0HCM?list=PLbSEBLdLyEbezNuiiT5Mw-IjN1oRV5Ac2"
                                                frameborder="0" allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 view-every-block">
                            <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 block-every-elem">
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
                                    <a class="float-left-with-poster" href="image/688.jpg" data-fancybox data-caption="Harry Potter and the chamber of secret">
                                        <img src="image/688.jpg" width="200"/>
                                    </a>
                                    <p class="font-harry-potter align-text-title size-xx-large color-title-of-history" ng-bind="'Гарри Поттер и тайная комната'"></p>
                                </div>
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 font-harry-potter">
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-bind="'Читать книгу'"
                                       href="http://librebook.ru/harry_potter_and_the_chamber_of_secrets">
                                    </a>
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-bind="'Посмотреть фильм на GidOnline'"
                                       href="http://gidonline.club/2011/07/garri-potter-i-tajnaya-komnata">
                                    </a>
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                            ng-click="ctrl.HPCS()" ng-bind="'Смотреть трейлер'">
                                    </a>
                                    <div ng-if="ctrl.HPCS_flag">
                                        <iframe width="1000" height="720"
                                                src="https://www.youtube.com/embed/tLdiEEO8KyA?list=PLbSEBLdLyEbezNuiiT5Mw-IjN1oRV5Ac2"
                                                frameborder="0" allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 view-every-block">
                            <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 block-every-elem">
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
                                    <a class="float-left-with-poster" href="image/hp-ua.jpg" data-fancybox data-caption="Harry Potter and the prisoner of Azkaban">
                                        <img src="image/hp-ua.jpg" width="200"/>
                                    </a>
                                    <p class="font-harry-potter align-text-title size-xx-large color-title-of-history" ng-bind="'Гарри Поттер и узник азкабана'"></p>
                                </div>
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 font-harry-potter">
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-bind="'Читать книгу'"
                                       href="http://librebook.ru/harry_potter_and_the_prisoner_of_azkaban">
                                    </a>
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-bind="'Посмотреть фильм на GidOnline'"
                                       href="http://gidonline.club/2011/07/garri-potter-i-uznik-azkabana">
                                    </a>
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                            ng-click="ctrl.HPCA()" ng-bind="'Смотреть трейлер'">
                                    </a>
                                    <div ng-if="ctrl.HPCA_flag">
                                        <iframe width="1000" height="720"
                                                src="https://www.youtube.com/embed/LcmHGSjv4PE?list=PLbSEBLdLyEbezNuiiT5Mw-IjN1oRV5Ac2"
                                                frameborder="0" allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 view-every-block">
                            <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 block-every-elem">
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
                                    <a class="float-left-with-poster" href="image/goblet_of_fire.jpg" data-fancybox data-caption="Harry Potter and the goblet of fire">
                                        <img src="image/goblet_of_fire.jpg" width="200"/>
                                    </a>
                                    <p class="font-harry-potter align-text-title size-xx-large color-title-of-history" ng-bind="'Гарри Поттер и кубок огня'"></p>
                                </div>
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 font-harry-potter">
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-bind="'Читать книгу'"
                                       href="http://librebook.ru/harry_potter_and_the_goblet_of_fire">
                                    </a>
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-bind="'Посмотреть фильм на GidOnline'"
                                       href="http://gidonline.club/2011/07/garri-potter-i-kubok-ognya">
                                    </a>
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-click="ctrl.HPGF()" ng-bind="'Смотреть трейлер'">
                                    </a>
                                    <div ng-if="ctrl.HPGF_flag">
                                        <iframe width="1000" height="720"
                                                src="https://www.youtube.com/embed/LcmHGSjv4PE?list=PLbSEBLdLyEbezNuiiT5Mw-IjN1oRV5Ac2"
                                                frameborder="0" allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 view-every-block">
                            <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 block-every-elem">
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
                                    <a class="float-left-with-poster" href="image/hp_op.jpg" data-fancybox data-caption="Harry Potter and the order of the phoenix">
                                        <img src="image/hp_op.jpg" width="200"/>
                                    </a>
                                    <p class="font-harry-potter align-text-title size-xx-large color-title-of-history" ng-bind="'Гарри Поттер и Орден Феникса'"></p>
                                </div>
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 font-harry-potter">
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-bind="'Читать книгу'"
                                       href="http://librebook.ru/harry_potter_and_the_order_of_the_phoenix">
                                    </a>
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-bind="'Посмотреть фильм на GidOnline'"
                                       href="http://gidonline.club/2011/07/garri-potter-i-orden-feniksa">
                                    </a>
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-click="ctrl.HPOP()" ng-bind="'Смотреть трейлер'">
                                    </a>
                                    <div ng-if="ctrl.HPOP_flag">
                                        <iframe width="1000" height="720"
                                                src="https://www.youtube.com/embed/LcmHGSjv4PE?list=PLbSEBLdLyEbezNuiiT5Mw-IjN1oRV5Ac2"
                                                frameborder="0" allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 view-every-block">
                            <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 block-every-elem">
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
                                    <a class="float-left-with-poster" href="image/hp_hbp.jpg" data-fancybox data-caption="Harry Potter and the half blood prince">
                                        <img src="image/hp_hbp.jpg" width="200"/>
                                    </a>
                                    <p class="font-harry-potter align-text-title size-xx-large color-title-of-history" ng-bind="'Гарри Поттер и принц-полукровка'"></p>
                                </div>
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 font-harry-potter">
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-bind="'Читать книгу'"
                                       href="http://librebook.ru/harry_potter_and_the_half_blood_prince">
                                    </a>
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-bind="'Посмотреть фильм на GidOnline'"
                                       href="http://gidonline.club/2011/07/garri-potter-i-princ-polukrovka">
                                    </a>
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-click="ctrl.HPHBP()" ng-bind="'Смотреть трейлер'">
                                    </a>
                                    <div ng-if="ctrl.HPHBP_flag">
                                        <iframe width="1000" height="720"
                                                src="https://www.youtube.com/embed/LcmHGSjv4PE?list=PLbSEBLdLyEbezNuiiT5Mw-IjN1oRV5Ac2"
                                                frameborder="0" allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 view-every-block">
                            <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 block-every-elem">
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
                                    <a class="float-left-with-poster" href="image/hp_dh.jpg" data-fancybox data-caption="Harry Potter and the deathly hallows">
                                        <img src="image/hp_dh.jpg" width="200"/>
                                    </a>
                                    <p class="font-harry-potter align-text-title size-xx-large color-title-of-history" ng-bind="'Гарри Поттер и дары сметри'"></p>
                                </div>
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 font-harry-potter">
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-bind="'Читать книгу'"
                                       href="http://librebook.ru/harry_potter_and_the_deathly_hallows">
                                    </a>
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-bind="'Посмотреть первую часть на GidOnline'"
                                       href="http://gidonline.club/2011/01/garri-potter-i-dary-smerti-chast-1">
                                    </a>
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-bind="'Посмотреть вторую часть на GidOnline'"
                                       href="http://gidonline.club/2011/07/garri-potter-i-dary-smerti-chast-2">
                                    </a>
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-click="ctrl.HPDH()" ng-bind="'Смотреть трейлер'">
                                    </a>
                                    <div ng-if="ctrl.HPDH_flag">
                                        <iframe width="1000" height="720"
                                                src="https://www.youtube.com/embed/LcmHGSjv4PE?list=PLbSEBLdLyEbezNuiiT5Mw-IjN1oRV5Ac2"
                                                frameborder="0" allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 view-every-block">
                            <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 block-every-elem">
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
                                    <a class="float-left-with-poster" href="image/fbwft.jpg" data-fancybox data-caption="Fantastic Beats and where to find them">
                                        <img src="image/fbwft.jpg" width="200"/>
                                    </a>
                                    <p class="font-harry-potter align-text-title size-xx-large color-title-of-history" ng-bind="'Фантастические твари и места их обитания'"></p>
                                </div>
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 font-harry-potter">
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-bind="'Читать книгу'"
                                       href="http://librebook.ru/fantastic_beasts_and_where_to_find_them">
                                    </a>
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-bind="'Посмотреть фильм на GidOnline'"
                                       href="http://gidonline.club/2016/11/1-fantasticheskie-tvari-i-gde-oni-obitayut">
                                    </a>
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-click="ctrl.FBWFT()" ng-bind="'Смотреть трейлер'">
                                    </a>
                                    <div ng-if="ctrl.FBWFT_flag">
                                        <iframe width="1000" height="720"
                                                src="https://www.youtube.com/embed/LcmHGSjv4PE?list=PLbSEBLdLyEbezNuiiT5Mw-IjN1oRV5Ac2"
                                                frameborder="0" allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 view-every-block">
                            <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 block-every-elem">
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
                                    <a class="float-left-with-poster" href="image/hp_cc.jpg" data-fancybox data-caption="Harry Potter and the cursed child">
                                        <img src="image/hp_cc.jpg" width="200"/>
                                    </a>
                                    <p class="font-harry-potter align-text-title size-xx-large color-title-of-history" ng-bind="'Гарри Поттер и проклятое дитя'"></p>
                                </div>
                                <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 font-harry-potter">
                                    <a tabindex="0" type="button" class="btn btn-danger size-middle font-color-black font-bold"
                                       ng-bind="'Читать книгу'"
                                       href="http://librebook.ru/harry_potter_and_the_cursed_child">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container fon-love-story-container-footer font-harry-potter" align="center">
                <p class="size-middle" ng-bind="'&#169; Все права защищены! Доступ к правам только у Тонечки!'"></p>
            </div>
        </div>
    </div>

</section>
