<!DOCTYPE html>
<section ng-controller="LoveStoryCtrl as ctrl">
    <ul class="navigation font-harry-potter size-small-middle">
        <li class="nav-item">
            <a ng-click="ctrl.ToNewsInfo()" ng-bind="'Биография Тонечки'"></a>
        </li>
        <li class="nav-item">
            <a ng-click="ctrl.ToLoveStory()" ng-bind="'Я и Тоня'"></a>
        </li>
        <li class="nav-item">
            <a ng-click="ctrl.ToExam()" ng-bind="'Магический экзамен'"></a>
        </li>
        <li class="nav-item">
            <a ng-click="ctrl.ToExamResult()" ng-bind="'Лучший факультет'"></a>
        </li>
        <li class="nav-item">
            <a ng-click="ctrl.ToHarryPotter()" ng-bind="'Библиотека'"></a>
        </li>
    </ul>

    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"></label>

    <div class="site-wrap">
        <div class="love-story-fon">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 font-lumos size-large font-bold" style="background: rgba(255,255,255,0.8)">
                        <div ng-bind="'Наша с Тоней история, с самого начала и по сей день!'" align="center">
                        </div>
                        <div class="size-small-middle" style="padding: 10px">
                            <div>
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                <div>
                                    <img src="../image/for_love_story/1.png">
                                    <img src="../image/for_love_story/15.png">
                                    <img src="../image/for_love_story/3.png">
                                    <img src="../image/for_love_story/4.png">
                                </div>
                            </div>
                            <div>
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                <div>
                                    <img src="../image/for_love_story/1.png">
                                    <img src="../image/for_love_story/15.png">
                                    <img src="../image/for_love_story/3.png">
                                    <img src="../image/for_love_story/4.png">
                                </div>
                            </div>
                            <div>
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                <div>
                                    <img src="../image/for_love_story/1.png">
                                    <img src="../image/for_love_story/15.png">
                                    <img src="../image/for_love_story/3.png">
                                    <img src="../image/for_love_story/4.png">
                                </div>
                            </div>
                            <div>
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                <div>
                                    <img src="../image/for_love_story/1.png">
                                    <img src="../image/for_love_story/15.png">
                                    <img src="../image/for_love_story/3.png">
                                    <img src="../image/for_love_story/4.png">
                                </div>
                            </div>
                            <div>
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--Content--
                                <div>
                                    <img src="../image/for_love_story/1.png">
                                    <img src="../image/for_love_story/15.png">
                                    <img src="../image/for_love_story/3.png">
                                    <img src="../image/for_love_story/4.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="background: rgba(255,255,255,0.5)" align="center">
                rrrrrrrrrrrrrrrrrrrrrrrrrr
                rrhrvhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
                hhhhhhhhhhhhhhhhhhhhhhhvrtrtrtrtrt
                rtrtrtrtrtrtrtrtrtrtrtrtrtrtrtrtrtrtrtrtyv
                rrrrrrrrrrrrrrrrrrrrrrrrrr
                rrhrvhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
                hhhhhhhhhhhhhhhhhhhhhhhvrtrtrtrtrt
                rtrtrtrtrtrtrtrtrtrtrtrtrtrtrtrtrtrtrtrtyv
                rrrrrrrrrrrrrrrrrrrrrrrrrr
                rrhrvhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
                hhhhhhhhhhhhhhhhhhhhhhhvrtrtrtrtrt
                rtrtrtrtrtrtrtrtrtrtrtrtrtrtrtrtrtrtrtrtyv
            </div>
        </div>
    </div>
</section>

