<!DOCTYPE html>
<section ng-controller="LoveStoryCtrl as ctrl">

    <ul class="navigation font-harry-potter size-small-middle">
        <li class="nav-item">
            <a ng-click="ctrl.ToMain()" ng-bind="'Главная'"></a>
        </li>
        <li class="nav-item">
            <a ng-click="ctrl.ToNewsInfo()" ng-bind="'Биография Тонечки'"></a>
        </li>
        <li class="nav-item">
            <a ng-click="ctrl.ToLoveStory()" ng-bind="'Я и Тоня'"></a>
        </li>
        <li class="nav-item">
            <a ng-click="ctrl.ToExam()" ng-bind="'Магический экзамен'"></a>
        </li>
        <li class="nav-item">
            <a ng-click="ctrl.ToExamResult()" ng-bind="'Лучший факультет'"></a>
        </li>
        <li class="nav-item">
            <a ng-click="ctrl.ToHarryPotter()" ng-bind="'Библиотека'"></a>
        </li>
    </ul>

    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"></label>

    <div class="site-wrap">
        <div class="love-story-fon">
            <div class="scroll-all-length-page">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 font-harry-potter size-large fon-love-story-container">
                            <div class="font-bold" ng-bind="'Наша с Тоней история, с самого начала и по сей день!'" align="center"> </div>
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['Acquaintance'].Title"></div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['Acquaintance'].Body"></div>
                            <div class="border-image">
                                <a href="image/for_love_story/acquaintance_1.png" data-fancybox="group_first" data-caption="Тонечка с подругами на даче, я правда их еще тогда не знал, само собой!">
                                    <img src="image/for_love_story/acquaintance_1.png" width="160" tabindex="0"/>
                                </a>
                                <a href="image/for_love_story/acquaintance_2.png" data-fancybox="group_first" data-caption="Какая-то, спящая Зайка, на природе.">
                                    <img src="image/for_love_story/acquaintance_2.png" width="218" tabindex="0"/>
                                </a>
                                <a href="image/for_love_story/acquaintance_3.png" data-fancybox="group_first" data-caption="Опасная малышка, с топориком.">
                                    <img src="image/for_love_story/acquaintance_3.png" width="282" tabindex="0"/>
                                </a>
                                <a href="image/for_love_story/acquaintance_4.png" data-fancybox="group_first" data-caption="Мастер покроя крыши.">
                                    <img src="image/for_love_story/acquaintance_4.png" width="286" tabindex="0"/>
                                </a>
                            </div>
                            <!--/////////////////////////////////////////////////////////////////////////////////////////////// -->
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['OurMeetInVk'].Title"></div>
                            <div class="border-image">
                                <a class="left-float-position" href="image/for_love_story/OurMeetInVk.png" data-fancybox data-caption="Наша первая переписка! Да уж, ну я и безграмотный!">
                                    <img src="image/for_love_story/OurMeetInVk.png" width="300" tabindex="0"/>
                                </a>
                            </div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['OurMeetInVk'].Body"></div>
                            <!--/////////////////////////////////////////////////////////////////////////////////////////////// -->
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['FirstMeeting'].Title"></div>
                            <div class="border-image">
                                <a href="image/for_love_story/18.png" data-fancybox="group_second" data-caption="Наша первая переписка! Да уж, ну я и безграмотный!">
                                    <img src="image/for_love_story/18.png" width="300" tabindex="0"/>
                                </a>
                                <a href="image/for_love_story/24.png" data-fancybox="group_second" data-caption="Наша первая переписка! Да уж, ну я и безграмотный!">
                                    <img src="image/for_love_story/24.png" width="250" tabindex="0"/>
                                </a>
                                <a href="image/for_love_story/25.png" data-fancybox="group_second" data-caption="Наша первая переписка! Да уж, ну я и безграмотный!">
                                    <img src="image/for_love_story/25.png" width="320" tabindex="0"/>
                                </a>
                                <a href="image/for_love_story/26.png" data-fancybox="group_second" data-caption="Наша первая переписка! Да уж, ну я и безграмотный!">
                                    <img src="image/for_love_story/26.png" width="340" tabindex="0"/>
                                </a>
                                <a href="image/for_love_story/27.png" data-fancybox="group_second" data-caption="Наша первая переписка! Да уж, ну я и безграмотный!">
                                    <img src="image/for_love_story/27.png" width="275" tabindex="0"/>
                                </a>
                                <a href="image/for_love_story/32.jpg" data-fancybox="group_second" data-caption="Наша первая переписка! Да уж, ну я и безграмотный!">
                                    <img src="image/for_love_story/32.jpg" width="255" tabindex="0"/>
                                </a>
                            </div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['FirstMeeting'].Body"></div>
                            <!--/////////////////////////////////////////////////////////////////////////////////////////////// -->
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['GroupMeetingInCity'].Title"></div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['GroupMeetingInCity'].Body"></div>
                            <!--/////////////////////////////////////////////////////////////////////////////////////////////// -->
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['CanYouBecomeMyGirlfrind'].Title"></div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['CanYouBecomeMyGirlfrind'].Body"></div>
                            <!--/////////////////////////////////////////////////////////////////////////////////////////////// -->
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['LargeEventInFisrtYear'].Title"></div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['LargeEventInFisrtYear'].Body"></div>
                            <div class="list-love-story font-hogwards-wizard size-middle font-normal body-position">
                                <ul>
                                    <li ng-repeat="event in ctrl.Object['LargeEventInFisrtYear'].Events" ng-bind="event"></li>
                                </ul>
                            </div>
                            <!--/////////////////////////////////////////////////////////////////////////////////////////////// -->
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['FirstNightWithTonya'].Title"></div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['FirstNightWithTonya'].Body"></div>
                            <!--/////////////////////////////////////////////////////////////////////////////////////////////// -->
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['NewYear2016'].Title"></div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['NewYear2016'].Body"></div>
                            <!--/////////////////////////////////////////////////////////////////////////////////////////////// -->
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['Tonya18years'].Title"></div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['Tonya18years'].Body"></div>
                            <!--/////////////////////////////////////////////////////////////////////////////////////////////// -->
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['DenisMadinaWedding'].Title"></div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['DenisMadinaWedding'].Body"></div>
                            <!--/////////////////////////////////////////////////////////////////////////////////////////////// -->
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['TogetherLiving'].Title"></div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['TogetherLiving'].Body"></div>
                            <!--/////////////////////////////////////////////////////////////////////////////////////////////// -->
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['TonyaInRostov'].Title"></div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['TonyaInRostov'].Body"></div>
                            <!--/////////////////////////////////////////////////////////////////////////////////////////////// -->
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['MineVacation'].Title"></div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['MineVacation'].Body"></div>
                            <!--/////////////////////////////////////////////////////////////////////////////////////////////// -->
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['DayofFirstYear'].Title0"></div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['DayofFirstYear'].Part0"></div>
                            <div class="list-love-story font-hogwards-wizard size-middle font-normal body-position">
                                <ul>
                                    <li  ng-repeat="item in ctrl.Object['DayofFirstYear'].List" ng-bind="item"></li>
                                </ul>
                            </div>
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['DayofFirstYear'].Title1"></div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['DayofFirstYear'].Part1"></div>
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['DayofFirstYear'].Title2"></div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['DayofFirstYear'].Part2"></div>
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['DayofFirstYear'].Title3"></div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['DayofFirstYear'].Part3"></div>
                            <!--/////////////////////////////////////////////////////////////////////////////////////////////// -->
                            <div class="font-hogwards-wizard size-middle font-bold title-position" ng-bind="ctrl.Object['InfoNow'].Title"></div>
                            <div class="font-hogwards-wizard size-middle font-normal body-position" ng-bind="ctrl.Object['InfoNow'].Body"></div>
                            <!--/////////////////////////////////////////////////////////////////////////////////////////////// -->
                        </div>
                        <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 fon-love-story-container-footer font-harry-potter" align="center">
                            <p class="size-middle" ng-bind="'&#169; Все права защищены! Доступ к правам только у Тонечки!'"></p>
                        </div>
                        <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12" style="height:125px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

